/* Estilo Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Corpo da Página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(img/bullseye-gradient.svg) no-repeat center center;
  background-size: cover;
}

/* Cabeçalho */
header {
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

header h1 {
  font-size: 3rem;
  font-family: Poppins;
}

/* Navegação (se decidirem usar) */
header nav {
  display: flex;
  gap: 15px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Seção Principal */
main {
  display: flex;
  flex: 1;
  padding: 0px 20px 20px 20px ;
  flex-direction: column;
  gap: 20px;  /* Ajusta o espaçamento entre as seções */
}

/* Títulos e texto */
h2 {
  color: deeppink;
}

/* Seção de Entrada de Dados */
.input-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-section h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #e6f7ff;
  font-family: Playfair Display;
}

.input-section textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #FF1493;
  border-radius: 5px;
  font-size: 20px;
  resize: vertical;
  background-color: white;
  font-family: Playfair Display;
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.input-section textarea:focus{
  box-shadow:  0px 0px 12px 3px rgba(0, 0, 0, 0.6);
  border-color: #6a0dad;
  outline: none;
}

.input-section .sorteio-config label {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.input-section button {
  background-color: indianred;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Garante que a largura seja ajustada de acordo com o conteúdo */
  max-width: 100px; /* Limita a largura do botão */
  box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.4);
}

.input-section button:hover {
  background-color: #003399;
}

/* Oculta o input de arquivo */
#file-input {
  display: none;
}

/* Estilo do botão customizado */
.custom-file-btn {
  background-color: indianred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  font-size: 0.85em;
  box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.4);
}

.custom-file-btn:hover {
  background-color: #003399;
}

.custom-file-btn:focus {
  outline: none;
}

#nomes-confirmados {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #FF1493;
  border-radius: 5px;
  min-height: 200px;
  max-height: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.nome-item {
  display: flex;
  align-items: center;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 20px;
  padding: 5px 15px;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.nome-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.nome-item label {
  font-size: 1rem;
  color: #f2e8e8;
  cursor: pointer;
}

.sorteio-config {
  display: flex;
  gap: 10px;
}

.sorteio-config label {
  font-size: 1rem;
  color: #333;
}

.sorteio-config input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Seção de Log (Histórico de Sorteados) */
#log-section {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  height: 83vh;
  display: none; /* Oculta inicialmente */
}

.log-section {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  max-width: 400px;
  min-height: 95%;
  flex: 1;
}

.sorteados-log {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 10px;
}

.log-item {
  padding: 10px;
  background-color: #fff;
  border-left: 4px solid #0044cc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in forwards;
  opacity: 0; /* Começa invisível */
}

.log-item span {
  font-weight: bold;
  color: #0044cc;
}

/* Estilos do Botão Voltar */
#btn-voltar {
  background-color: indianred;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 8px  rgba(0, 0, 0, 0.2);
  /* margin-top: 20px; */
}

#btn-voltar:hover{
  background-color: #003399;
}

/* Estilo do botão Limpar Histórico */
#limpar-historico {
  background-color: #FF6347; /* Cor de fundo vermelho */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Garante que a largura seja ajustada de acordo com o conteúdo */
  max-width: 150px; /* Limita a largura do botão */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  /* margin-top: 10px; Distância entre os botões */
}

#limpar-historico:hover {
  background-color: #D84C40; /* Cor mais escura quando o mouse passa sobre */
}

#limpar-historico:focus {
  outline: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6); /* Efeito de foco */
}


/* Barra de rolagem personalizada */
.sorteados-log::-webkit-scrollbar {
  width: 8px;
}

.sorteados-log::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.sorteados-log::-webkit-scrollbar-thumb {
  background: #0044cc;
  border-radius: 4px;
}

.sorteados-log::-webkit-scrollbar-thumb:hover {
  background: #003399;
}

.logo01, .logo02 {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
}

.segura-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilos para telas pequenas */
@media (max-width: 820px) {
  main {
    flex-direction: column;
    padding: 10px; 
    max-width: 100%;
    min-width: 80%;
    margin: 0 auto;
  }

  .input-section {
    border-right: none;
    padding: 0px 20px 20px 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .input-section textarea {
    height: 150px;
  }

  #nomes-confirmados {
    max-height: 60vh;
    min-height: 300px;
    overflow-y: auto;
    padding: 15px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }

  .nome-item {
    font-size: 1.1rem;
    padding: 10px 15px;
    height: auto;
    min-height: 50px;
    width: 100%;
  }

  .sorteio-config {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    width: 100%;
    margin: 20px 0;
  }

  .sorteio-config input[type="number"] {
    width: 100%;
    max-width: 200px;
  }

  .input-section button {
    max-width: 200px;
    padding: 12px 25px;
    font-size: 1.1rem;
  }

  .custom-file-btn {
    padding: 12px 25px;
    font-size: 1.1rem;
  }

  #log-section {
    height: auto;
    min-height: 60vh;
    max-width: 90%;
    padding: 25px;
  }

  .sorteados-log {
    max-height: 50vh;
    width: 100%;
  }

  header {
    padding: 20px 20px 0px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    font-size: 1.8rem;
    display: none;
  }

  header nav {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .logo01 {
    width: 150px;
    height: 150px;
  }

  .logo02 {
    display: none;
  }

  .segura-btns {
    justify-content: space-between;
  }
}


@media (max-width: 480px) {
  .nome-item {
    width: 100%;
    justify-content: flex-start;
  }

  .sorteio-config {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-section button,
  .sorteio-config input[type="number"] {
    width: 100%;
  }

  footer p {
    font-size: 0.8rem;
    line-height: 1.4;
  }

  .roleta {
    width: 120px;
    height: 120px;
    font-size: 0.9rem;
    border-width: 5px;
  }

  textarea {
    height: 80px !important;
  }

  #nomes-confirmados {
    max-height: 300px;
  }

  .nome-item {
    font-size: 0.9rem;
    padding: 4px 10px;
    height: 35px;
  }

  .nome-item label {
    font-size: 0.9rem
  }

  .segura-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

}

@media (max-width: 360px) {
  header h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  header nav a {
    font-size: 0.9rem;
  }

  .input-section h2 {
    font-size: 1.1rem;
  }

  .logo {
    display: none;
  }
}

/* Definindo a animação para os nomes sorteados */

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
